body {
    background-color: rgb(247, 239, 213);
    background-image: url(images/dq3.jpg);
}
h1 {
    text-align: center;
    font-size: 400%;
    color: blanchedalmond;
}
/*-----------------------------------The Grid-------------------------------------*/
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 4fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
    background-color: rgb(230, 230, 230, 0.9);
    color: rgb(247, 239, 213,);
    border: solid 5px white;
}
h2 {
    grid-column: span 2;
    grid-row: 1;
    text-align:center;
    color:black;
    background-color: whitesmoke;
    font-size:25px; 
}
#case1 {
    grid-column: 1;
    grid-row: 3;
    border: solid 5px white;
    background-color: whitesmoke;
    margin-left:10px ;
}
#case2 {
    grid-column: 2;
    grid-row: 3;
    border: solid 5px white;
    background-color: whitesmoke;
    margin-right: 10px;
}
/*------------------------------------Buttons Left----------------------------------------*/
#button1 {
    max-width: 50px;
    max-height: 50px;
    grid-row: 4;
    grid-column: 1;
    align-self: auto;
    justify-content: center;
    margin-left: 30%;
}
#button2 {
    max-width: 50px;
    max-height: 50px;
    grid-row: 4;
    grid-column: 1;
    align-self: auto;
    justify-content: center;
    margin-left: 50%;
}
#button3 {
    max-width: 50px;
    max-height: 50px;
    grid-row: 4;
    grid-column: 1;
    align-self: auto;
    justify-content: center;
    margin-left: 70%;
}
/*------------------------------------Buttons Right----------------------------------------*/
#button4 {
    max-width: 50px;
    max-height: 50px;
    grid-row: 4;
    grid-column: 2;
    align-self: auto;
    justify-content: center;
    margin-left: 22%;
}
#button5 {
    max-width: 50px;
    max-height: 50px;
    grid-row: 4;
    grid-column: 2;
    align-self: auto;
    justify-content: center;
    margin-left: 42%;
}
#button6 {
    max-width: 50px;
    max-height: 50px;
    grid-row: 4;
    grid-column: 2;
    align-self: auto;
    justify-content: center;
    margin-left: 62%;
}
/*------------------------------------Dropdown----------------------------------------*/
#selector1, #selector2 {
    align-self: center;
    position: relative;
    justify-content: center;
    margin-left: 10%;
}
/*-----------------------------------Attaque Display------------------------------------*/
#attackdisplay1 { 
    margin-left: auto;
    margin-right: auto;
    grid-row: span 3;
    grid-column: span 2;
    bottom: 50px;
    position: relative;
    background-color: burlywood;
    font-size:20px;
    border-radius:10px;
    padding:20px;
    width:200px;
    height: 550px;
    height:auto;
    place-self:center;
  }